{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'style.css' %}">
    
    </head>
    <body>
        <h1 style="color: rgb(6, 35, 124);"><b> WHAT IS HTML ? </b></h1><br><br><br><hr>
        <h3><span style="font-weight: 900;">HTML is a computer language deviced to allow website creation.</span>These websites can then be viewed by anyone 
            else connected to the internet.
        </h3>
        <p><i>published by</i></p>
        <p style="color: red;"><b>- baabtra.com</b></p>
    </body>
</html>